body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #34495e;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.footer{
background: none;
}

#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -2;
}

.main{
  align-items: center;
  text-align: center;
  padding: 12px; 
  margin: auto;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  margin-top: 100px;
}

.main2{
    align-items: center;
    text-align: center;
    padding: 12px;
    margin-bottom: 400px ;
    margin: auto;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
    margin-top: 100px;
}

.glass-btn {
  padding: 12px;
  margin: 20px;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #0004;
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
}

.glass-btn:hover {
transform: translateY(-0.1em);
box-shadow: 
  0 -0.2em 0.4em #0002,
  0 0.3em 0.5em hsl(220, 90%, 70% / 0.5),
  0 0 0 0.2em hsl(220, 90%, 70% / 0.5),
  0 0.2em 0.4em hsl(220, 90%, 70% / 0.5) inset,
  0 -0.05em 0.2em hsl(220, 90%, 70% / 0.4) inset,
  0 -0.3em 1.2em 0.3em hsl(220, 90%, 70% / 0.3) inset,
  0 0.7em 0 hsl(220, 90%, 70% / 0.3) inset,
  0 2.2em 1.2em #0004;
backdrop-filter: blur(0.2em);
}

.about{
  padding: 12px;
  margin: 20px;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #0004;
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
}

 .navbar {
      text-align: center;
      margin: auto;
      background: none;
      padding: 10px;
  }
.navbar-link {
    padding: 12px;
    margin: 20px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #0004;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
  }
input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="datetime-local"],
button {

  padding: 12px;
  margin: 20px;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #0004;
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  box-shadow: 
  0 -0.2em 0.4em #0002,
  0 0.3em 0.5em hsl(220, 90%, 70% / 0.5),
  0 0 0 0.2em hsl(220, 90%, 70% / 0.5),
  0 0.2em 0.4em hsl(220, 90%, 70% / 0.5) inset,
  0 -0.05em 0.2em hsl(220, 90%, 70% / 0.4) inset,
  0 -0.3em 1.2em 0.3em hsl(220, 90%, 70% / 0.3) inset,
  0 0.7em 0 hsl(220, 90%, 70% / 0.3) inset,
  0 2.2em 1.2em #0004;
}

button:hover {
  color: #0056b3;
}

button:active {
  background-color: #1f618d;
}

.bookings-section {
      display: flex;
      justify-content: space-between;
  }

.upcoming-bookings, .past-bookings {
      width: 48%;
}

.table{
  color: #ffff; 
}
label {
  display: block;
  margin-bottom: 0.5rem;
  color: #bdc3c7;
}

.rom{
  text-align:  center;
color: black;

}

.rom li {
  padding: 10px;
  margin: 12px;
  border-radius: 10px;
  width:auto;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #0004;
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
}

.rom li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
.select {
  padding: 12px;
  margin: 20px;
  width: 65%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #0004;
  box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
}
